/* inspired by codrops*/

/*effect one*/
.effect1::before,
.effect1::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.effect1::before {
  margin-right: 10px;
  content: '['; /*changeable -- be creative!*/
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.effect1::after {
  margin-left: 10px;
  content: ']'; /*changeable -- be creative!*/
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.effect1:hover::before,
.effect1:hover::after,
.effect1:focus::before,
.effect1:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}


/*effect two - dashed lines under the hover*/
.effect2 {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}

.effect2::before {
  position: absolute;
  top: 100%;
  left: 50%;
  color: transparent;
  content: '-'; /*can change to bullet or asterisk be creative!*/
  text-shadow: 0 0 transparent;
  font-size: .5em;
  -webkit-transition: text-shadow 0.3s, color 0.3s;
  -moz-transition: text-shadow 0.3s, color 0.3s;
  transition: text-shadow 0.3s, color 0.3s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}

.effect2:hover::before,
.effect2:focus::before {
  color: #fff;
  text-shadow: 10px 0 #fff, -10px 0 #fff;
}

.effect2:hover,
.effect2:focus {
  color: #ba7700;
}

/*effect three*/
.effect3 {
  margin: 0 10px;
  padding: 10px 20px;
}

.effect3::before {
  position: absolute;;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background: #fff; /*must be here*/
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  transition: top 0.3s;
}
.effect3::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background: #fff; /*must be here*/
  content: ''; /*leave blank*/
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

.effect3:hover::before{ 
  top: 100%;
  opacity: 1;
}
.effect3:hover::after {
 height: 100%;
}


/* effect four - two borders*/
.effect4 {
  padding: 5px 5px 10px;
}

.effect4::before,
.effect4::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #311627;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  transform: scale(0.85);
}

.effect4::after {
  opacity: 0;
  -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.effect4:hover::before,
.effect4:hover::after,
.effect4:focus::before,
.effect4:focus::after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.effect4:hover::after,
.effect4:focus::after {
  top: 0%;
  opacity: 1;
}

/* effect five - two border shift*/
.effect5 {
  padding: 5px;
}
.effect5::after{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #219b55;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.effect5::before {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #219b55;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

.effect5:hover::after,
.effect5:hover::before,
.effect5:focus::after,
.effect5:focus::before {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
/* effect 6 bottom border slides in*/
.effect6 {
  padding: 8px 0;
}
.effect6::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #0b6aa6;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  transform: translateY(20px);
}

.effect6:hover::after{
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/* effect 7 circle fades in*/
.effect7::before,
.effect7::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 50%;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-50%) translateX(-50%) scale(0.2);
  -moz-transform: translateY(-50%) translateX(-50%) scale(0.2);
  transform: translateY(-50%) translateX(-50%) scale(0.2);
}
.effect7::after{
  width: 90px;
  height: 90px;
  border-width: 6px;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
  -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
  transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.effect7:hover::after,
.effect7:focus::after,
.effect7:hover::before,
.effect7:focus::before {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}

/*text-transform*/
.effect1 {
    text-transform: uppercase;
    cursor: pointer;
}
 
.effect2 {
    text-transform: uppercase;
    cursor: pointer;
}
.effect3 {
    text-transform: uppercase;
    cursor: pointer;
}
.effect4 {
    text-transform: uppercase;
    cursor: pointer;
}

.effect5 {
    text-transform: uppercase;
    cursor: pointer;
}
.effect6 {
    text-transform: uppercase;
    cursor: pointer;
}
.effect7 {
    text-transform: uppercase;
    cursor: pointer;
}